src/pug/components/footer.pug
include ../includes/mixins.pug
footer
    .footer-info.owl-carousel
        .footer-info__item.first
            +svg('icon-footer-items-1')
            span.inline-middle
                span.item_number 100 000&nbsp
                span товаров на складе
        .footer-info__item.second
            +svg('icon-footer-items-2')
            span.inline-middle
                span.item_number 141&nbsp
                span пункт выдачи заказов
        .footer-info__item.third
            +svg('icon-footer-items-3')
            span.inline-middle
                span Выполнено
                span.item_number &nbsp3409909&nbsp
                span заказов
        .footer-info__item.fourth
            +svg('icon-footer-items-4')
            span.inline-middle
                span.item_number 654417&nbsp
                span клиентов в клубе ON-бонус
        .footer-info__item.fifth
            +svg('icon-footer-items-5')
            span.inline-middle
                span.item_number 18&nbsp
                span лет на рынке
    .footer-subscribe
        button#issue_request.footer-button.hidden-landscape(data-toggle="modal", data-target=".modal-issue", data-modal-action="issue")
            +svg('icon-plane')
            span Сообщить о проблеме
        span.hidden-mobile.hide-on-subscribe-success Подпишись!
            span.hidden-landscape &nbspНовинки, скидки, предложения!
        form.footer-subscribe__form
            label(data-validation="required", data-validation-type="email").form-input
                +svg('icon-alert')
                span.hidden-small Укажите свой email
                input#footer_subscribe_input(type="email", placeholder="Введите email", name="email")
            button#footer_subscribe.footer-button.validate-form-button(type='submit')
                +svg('icon-letter')
                span Подписаться
        .footer-up-button
            span.hidden-small Вернуться наверх
            span.shown-mobile-inline Наверх
            +svg('icon-arrow-up')
    .footer-container
        .row.text-main-black
            .col.footer-links.online-shop
                h5
                    +svg('icon-arrow')
                    |Интернет-магазин
                ul
                    li: a.text-main-black(href="#!") О магазине
                    li: a.text-main-black(href="#!") Доставка и оплата
                    li: a.text-main-black(href="#!") Договор публичной оферты
                    li: a.text-main-black(href="#!") Контакты интернет-магазина
                    li: a.text-main-black(href="#!") Оптовым партнерам
                .bottom-link.copyright Все права защищены, MARWIN 2016
            .col.footer-links.about
                h5
                    +svg('icon-arrow')
                    |О Компании
                ul
                    li: a.text-main-black(href="#!") О компании
                    li: a.text-main-black(href="#!") История компании
                    li: a.text-main-black(href="#!") Наши магазины
                    li: a.text-main-black(href="#!") Новости компании
                    li: a.text-main-black(href="#!") Новостной портал
                    li: a.text-main-black(href="#!") Вакансии
                .bottom-link.creditcards
                    a(href="#!"): +svg('icon-visa')
                    a(href="#!"): +svg('icon-maestro')
                    a(href="#!"): +svg('icon-mastercard')
            .col.footer-links.corp
                h5
                    +svg('icon-arrow')
                    |Корпоративный блок
                ul
                    li: a.text-main-black(href="#!") Контакты для прессы
                    li: a.text-main-black(href="#!") Социальная ответственность
                a.text-main-black.bottom-link#whatsapp(href="tel:8 701 570 69 38")
                    .relative
                        span.message.inline-middle Написать нам
                        span.message.inline-middle.hover 8 701 570 69 38
                        .whatsapp-logo.inline-middle
                            +svg('icon-whatsapp')
                            +svg('icon-whatsappActive')
                            span WhatsApp
            .col.footer-links.separate-large.projects
                h5
                    +svg('icon-arrow')
                    |Наши проекты
                ul
                    li: a.text-main-black(href="#!") Афиша Meloman.kz
                    li: a.text-main-black(href="#!") Привези - товары из Росии на заказ
                    li: a.text-main-black(href="#!") МАФ - это мобильная афиша
                    li: a.text-main-black(href="#!") Бонусный клуб
                    li: a.text-main-black(href="#!") Билеты в "Меломане"
                    li: a.text-main-black(href="#!") Marwin.kz - интернет-магазин товаров для детей
                    .bottom-link.call-mobile
                        a(href="tel:7890")
                            +svg('icon-phone')
                            |7890
                        span.hidden-landscape звонок c мобильного
                ul
                    li: a.text-main-black(href="#!") Комфорт - товары для дома и ремонта
                    li: a.text-main-black(href="#!") Арсенал - торгово-развлекательный комплекс и кинотеатр
                    li: a.text-main-black(href="#!") LEGO Education в Казахстане
                    li: a.text-main-black(href="#!") Questeria - квесты в реальности
                    li: a.text-main-black(href="#!") Резиденция Sunrise - роскошная вилла для отдыха
                    .bottom-link.call.hidden-middle
                        a(href="tel:+7 (727) 338 3800 ") +7 (727) 338 3800
            .col.footer-links.hidden-middle.srvices
                h5 Сервисы покупателя
                ul
                    li: a.text-main-black(href="#!") Бонусные карты
                    li: a.text-main-black(href="#!") Клуб для детей
                .bottom-link.footer-links__social
                    a.text-main-black(href="#!").insta
                        +svg('icon-insta')
                    a.text-main-black(href="#!").fb
                        +svg('icon-fb')
                    a.text-main-black(href="#!").vk
                        +svg('icon-vk')
                    a.text-main-black(href="#!").ggl
                        +svg('icon-ggl')
            .col.footer-links.app-links
                .col.footer-links.hidden-large.border-link
                    h5
                        +svg('icon-arrow')
                        |Сервисы покупателя
                    ul
                        li: a.text-main-black(href="#!") Бонусные карты
                        li: a.text-main-black(href="#!") Клуб для детей
                    .bottom-link.footer-links__social
                        a.text-main-black(href="#!").insta
                            +svg('icon-insta')
                        a.text-main-black(href="#!").fb
                            +svg('icon-fb')
                        a.text-main-black(href="#!").vk
                            +svg('icon-vk')
                        a.text-main-black(href="#!").ggl
                            +svg('icon-ggl')
                .bottom-link.call.hidden-large
                    a(href="tel:+7 (727) 338 3800 ") +7 (727) 338 3800
                h5.app-links-header Скачайте бесплатное приложение Бонусный клуб «Меломан»
                ul.app-links-list
                    li
                        a.clearfix.app-link.apple(href="#!")
                            .left-side
                                +svg('icon-apple')
                            .right-side
                                span.title Available on the <br /> <b class="title-name">Mac App Store</b>
                    li
                        a.clearfix.app-link.android(href="#!")
                            .left-side
                                +svg('icon-android')
                            .right-side
                                span.title Available in <br /> <b class="title-name">Android Market</b>

test/footer.test.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Marwin.kz tests - Footer</title>
    <link href="../www/css/index.min.css" rel="stylesheet">
    <!-- Mocha-->
    <link href="./dep/mocha.css" rel="stylesheet">
    <script src="./dep/mocha.min.js"></script>
    <!-- Start mocha-->
    <script>mocha.setup('bdd');</script>
    <!-- Chai-->
    <script src="./dep/chai.min.js"></script>
    <!-- Sinon-->
    <script src="./dep/sinon.js"></script>
    <!-- jQuery-->
    <script src="./dep/jquery-3.1.1.min.js"></script>
    <style>
      html, body {
          min-height: 200%
      }
    </style>
  </head>
  <body class="logged">
    <main data-page="undefined"></main>
    <footer>
      <div class="footer-info owl-carousel">
        <div class="footer-info__item first">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-footer-items-1"></use>
              </svg><span class="inline-middle"><span class="item_number">100 000&nbsp</span><span>товаров на складе</span></span>
        </div>
        <div class="footer-info__item second">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-footer-items-2"></use>
              </svg><span class="inline-middle"><span class="item_number">141&nbsp</span><span>пункт выдачи заказов</span></span>
        </div>
        <div class="footer-info__item third">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-footer-items-3"></use>
              </svg><span class="inline-middle"><span>Выполнено</span><span class="item_number">&nbsp3409909&nbsp</span><span>заказов</span></span>
        </div>
        <div class="footer-info__item fourth">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-footer-items-4"></use>
              </svg><span class="inline-middle"><span class="item_number">654417&nbsp</span><span>клиентов в клубе ON-бонус</span></span>
        </div>
        <div class="footer-info__item fifth">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-footer-items-5"></use>
              </svg><span class="inline-middle"><span class="item_number">18&nbsp</span><span>лет на рынке</span></span>
        </div>
      </div>
      <div class="footer-subscribe">
        <button class="footer-button hidden-landscape" id="issue_request" data-toggle="modal" data-target=".modal-issue" data-modal-action="issue">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-plane"></use>
              </svg><span>Сообщить о проблеме</span>
        </button><span class="hidden-mobile hide-on-subscribe-success">Подпишись!<span class="hidden-landscape">&nbspНовинки, скидки, предложения!</span></span>
        <form class="footer-subscribe__form">
          <label class="form-input" data-validation="required" data-validation-type="email">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-alert"></use>
                </svg><span class="hidden-small">Укажите свой email</span>
            <input id="footer_subscribe_input" type="email" placeholder="Введите email" name="email">
          </label>
          <button class="footer-button validate-form-button" id="footer_subscribe" type="submit">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-letter"></use>
                </svg><span>Подписаться</span>
          </button>
        </form>
        <div class="footer-up-button"><span class="hidden-small">Вернуться наверх</span><span class="shown-mobile-inline">Наверх</span>
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow-up"></use>
              </svg>
        </div>
      </div>
      <div class="footer-container">
        <div class="row text-main-black">
          <div class="col footer-links online-shop">
            <h5>
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use>
                  </svg>Интернет-магазин
            </h5>
            <ul>
              <li><a class="text-main-black" href="#!">О магазине</a></li>
              <li><a class="text-main-black" href="#!">Доставка и оплата</a></li>
              <li><a class="text-main-black" href="#!">Договор публичной оферты</a></li>
              <li><a class="text-main-black" href="#!">Контакты интернет-магазина</a></li>
              <li><a class="text-main-black" href="#!">Оптовым партнерам</a></li>
            </ul>
            <div class="bottom-link copyright">Все права защищены, MARWIN 2016</div>
          </div>
          <div class="col footer-links about">
            <h5>
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use>
                  </svg>О Компании
            </h5>
            <ul>
              <li><a class="text-main-black" href="#!">О компании</a></li>
              <li><a class="text-main-black" href="#!">История компании</a></li>
              <li><a class="text-main-black" href="#!">Наши магазины</a></li>
              <li><a class="text-main-black" href="#!">Новости компании</a></li>
              <li><a class="text-main-black" href="#!">Новостной портал</a></li>
              <li><a class="text-main-black" href="#!">Вакансии</a></li>
            </ul>
            <div class="bottom-link creditcards"><a href="#!">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-visa"></use>
                    </svg></a><a href="#!">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-maestro"></use>
                    </svg></a><a href="#!">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-mastercard"></use>
                    </svg></a></div>
          </div>
          <div class="col footer-links corp">
            <h5>
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use>
                  </svg>Корпоративный блок
            </h5>
            <ul>
              <li><a class="text-main-black" href="#!">Контакты для прессы</a></li>
              <li><a class="text-main-black" href="#!">Социальная ответственность</a></li>
            </ul><a class="text-main-black bottom-link" id="whatsapp" href="tel:8 701 570 69 38">
              <div class="relative"><span class="message inline-middle">Написать нам</span><span class="message inline-middle hover">8 701 570 69 38</span>
                <div class="whatsapp-logo inline-middle">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-whatsapp"></use>
                      </svg>
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-whatsappActive"></use>
                      </svg><span>WhatsApp</span>
                </div>
              </div></a>
          </div>
          <div class="col footer-links separate-large projects">
            <h5>
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use>
                  </svg>Наши проекты
            </h5>
            <ul>
              <li><a class="text-main-black" href="#!">Афиша Meloman.kz</a></li>
              <li><a class="text-main-black" href="#!">Привези - товары из Росии на заказ</a></li>
              <li><a class="text-main-black" href="#!">МАФ - это мобильная афиша</a></li>
              <li><a class="text-main-black" href="#!">Бонусный клуб</a></li>
              <li><a class="text-main-black" href="#!">Билеты в "Меломане"</a></li>
              <li><a class="text-main-black" href="#!">Marwin.kz - интернет-магазин товаров для детей</a></li>
              <div class="bottom-link call-mobile"><a href="tel:7890">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-phone"></use>
                      </svg>7890</a><span class="hidden-landscape">звонок c мобильного</span></div>
            </ul>
            <ul>
              <li><a class="text-main-black" href="#!">Комфорт - товары для дома и ремонта</a></li>
              <li><a class="text-main-black" href="#!">Арсенал - торгово-развлекательный комплекс и кинотеатр</a></li>
              <li><a class="text-main-black" href="#!">LEGO Education в Казахстане</a></li>
              <li><a class="text-main-black" href="#!">Questeria - квесты в реальности</a></li>
              <li><a class="text-main-black" href="#!">Резиденция Sunrise - роскошная вилла для отдыха</a></li>
              <div class="bottom-link call hidden-middle"><a href="tel:+7 (727) 338 3800 ">+7 (727) 338 3800</a></div>
            </ul>
          </div>
          <div class="col footer-links hidden-middle srvices">
            <h5>Сервисы покупателя</h5>
            <ul>
              <li><a class="text-main-black" href="#!">Бонусные карты</a></li>
              <li><a class="text-main-black" href="#!">Клуб для детей</a></li>
            </ul>
            <div class="bottom-link footer-links__social"><a class="text-main-black insta" href="#!">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-insta"></use>
                    </svg></a><a class="text-main-black fb" href="#!">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-fb"></use>
                    </svg></a><a class="text-main-black vk" href="#!">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-vk"></use>
                    </svg></a><a class="text-main-black ggl" href="#!">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-ggl"></use>
                    </svg></a></div>
          </div>
          <div class="col footer-links app-links">
            <div class="col footer-links hidden-large border-link">
              <h5>
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use>
                    </svg>Сервисы покупателя
              </h5>
              <ul>
                <li><a class="text-main-black" href="#!">Бонусные карты</a></li>
                <li><a class="text-main-black" href="#!">Клуб для детей</a></li>
              </ul>
              <div class="bottom-link footer-links__social"><a class="text-main-black insta" href="#!">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-insta"></use>
                      </svg></a><a class="text-main-black fb" href="#!">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-fb"></use>
                      </svg></a><a class="text-main-black vk" href="#!">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-vk"></use>
                      </svg></a><a class="text-main-black ggl" href="#!">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-ggl"></use>
                      </svg></a></div>
            </div>
            <div class="bottom-link call hidden-large"><a href="tel:+7 (727) 338 3800 ">+7 (727) 338 3800</a></div>
            <h5 class="app-links-header">Скачайте бесплатное приложение Бонусный клуб «Меломан»</h5>
            <ul class="app-links-list">
              <li><a class="clearfix app-link apple" href="#!">
                  <div class="left-side">
                        <svg>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-apple"></use>
                        </svg>
                  </div>
                  <div class="right-side"><span class="title">Available on the <br /> <b class="title-name">Mac App Store</b></span></div></a></li>
              <li><a class="clearfix app-link android" href="#!">
                  <div class="left-side">
                        <svg>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-android"></use>
                        </svg>
                  </div>
                  <div class="right-side"><span class="title">Available in <br /> <b class="title-name">Android Market</b></span></div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Mocha container.-->
    <div id="mocha"></div>
    <!-- Global help-variables-->
    <script src="./test-js/global.js"></script>
    <!-- Footer components test-->
    <script src="./test-js/footer.test.js"></script>
  </body>
</html>
