test/header.test.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Marwin.kz tests - Header</title>
    <link href="../www/css/index.min.css" rel="stylesheet">
    <!-- Mocha-->
    <link href="./dep/mocha.css" rel="stylesheet">
    <script src="./dep/mocha.min.js"></script>
    <!-- Start mocha-->
    <script>mocha.setup('bdd');</script>
    <!-- Chai-->
    <script src="./dep/chai.min.js"></script>
    <!-- Sinon-->
    <script src="./dep/sinon.js"></script>
    <!-- jQuery-->
    <script src="./dep/jquery-3.1.1.min.js"></script>
    <style>
      html, body {
          min-height: 200%
      }
    </style>
  </head>
  <body class="logged">
    <header>
      <div class="header-links">
        <div class="pull-left">
          <div class="header-links-toggle"><span class="hidden-mobile">Дополнительная информация</span><span class="shown-mobile-inline">Инфо</span>
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use>
                </svg>
          </div>
          <div class="header-links__links"><a href="#!">Карта постоянного клиента</a><a href="#!">Активация кодов</a><a href="#!">Доставка и Оплата</a><a href="#!">Гарантия и качество</a><a href="#!">Контакты и магазины</a></div>
        </div>
        <div class="pull-right">
          <div class="header-links__city-choice"><span>Ваш город:</span>
            <div id="city_choice"><span class="header-links__city-selected">Алматы</span>
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use>
                  </svg>
            </div>
            <div class="header-links__city-list">
              <div class="title pull-left"><span>Ваш город:
                  <div class="header-links__city-selected">Алматы</div></span><span>От Вашего выбора зависит стоимость и дата доставки</span></div>
              <div class="column pull-left">
                <div class="header-links__city-item active" data-city-id="1">Алматы</div>
                <div class="header-links__city-item" data-city-id="2">Актобе</div>
                <div class="header-links__city-item" data-city-id="3">Актау</div>
                <div class="header-links__city-item" data-city-id="4">Семей</div>
                <div class="header-links__city-item" data-city-id="5">Уральск</div>
                <div class="header-links__city-item" data-city-id="6">Шымкент</div>
                <div class="header-links__city-item" data-city-id="7">Экибазтус</div>
                <div class="header-links__city-item" data-city-id="8">Зыряновск</div>
              </div>
              <div class="column pull-left">
                <div class="header-links__city-item" data-city-id="9">Астана</div>
                <div class="header-links__city-item" data-city-id="10">Атырау</div>
                <div class="header-links__city-item" data-city-id="11">Караганда</div>
                <div class="header-links__city-item" data-city-id="12">Тараз</div>
                <div class="header-links__city-item" data-city-id="13">Усть-Каменогорск</div>
                <div class="header-links__city-item" data-city-id="14">Павлоград</div>
                <div class="header-links__city-item" data-city-id="15">Костанай</div>
                <div class="header-links__city-item" data-city-id="16">Другой</div>
              </div>
            </div>
          </div>
          <div class="header-links__city-number"><span>для&nbsp</span><span id="city_name">Алматы</span><a id="city_number" href="tel:8 727 338 3700">8 727 338 3700</a></div><a class="header-links__call" href="tel:7890"><span>Бесплатный звонок с мобильного&nbsp</span>
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-phone"></use>
                </svg><span><b>7890</b></span></a>
        </div>
      </div>
      <div class="header-main">
        <div class="pull-left"><a class="header-logo" href="#!"><img src="./img/logo.png"></a>
          <div id="header__menu-toggle">
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-hamburger"></use>
                </svg><span>Каталог товаров</span>
                <svg>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use>
                </svg>
          </div>
        </div>
        <div class="header-search">
          <div class="header-search__wrapper">
            <div class="header-search__categories"><span>Все категории</span>
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use>
                  </svg>
              <div class="relative">
                <div class="all-categories-container">
                  <div class="column">
                    <div class="category active" data-category-id="1">Все категории</div>
                    <div class="category" data-category-id="2">Акции</div>
                    <div class="category" data-category-id="3">Новинки</div>
                    <div class="category" data-category-id="4">Гидроскутеры</div>
                    <div class="category" data-category-id="5">Звездные войны</div>
                    <div class="category" data-category-id="6">Кино</div>
                    <div class="category" data-category-id="7">Наушники</div>
                    <div class="category" data-category-id="8">Музыка</div>
                    <div class="category" data-category-id="9">Все товары</div>
                  </div>
                  <div class="column">
                    <div class="category" data-category-id="10">Книжный магазин</div>
                    <div class="category" data-category-id="11">Творчество и хобби</div>
                    <div class="category" data-category-id="12">Школа и канцелярия</div>
                    <div class="category" data-category-id="13">Игровые приставки и аксессеары</div>
                    <div class="category" data-category-id="14">Виделигры для консолей</div>
                    <div class="category" data-category-id="15">Игрушки и развлечения</div>
                    <div class="category" data-category-id="16">Активный отдых</div>
                    <div class="category" data-category-id="17">Туризм</div>
                  </div>
                </div>
              </div>
            </div>
            <form class="header-search__search-field" autocomplete="off">
              <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off">
            </form>
            <div class="header-search__search-button">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-search"></use>
                  </svg>
            </div>
          </div>
          <div class="header-categories"><a href="#!">Акции</a><a href="#!">Новинки</a><a href="#!">Гироскутеры</a><a href="#!">Звездные войны</a><a href="#!">Кино</a><a href="#!">Наушники</a><a href="#!">Музыка</a><a href="#!">Все товары</a><a href="#!">Sale</a></div>
        </div>
        <div class="pull-right">
          <div class="row">
            <div class="header-action-item clearfix header-search-trigger">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-search"></use>
                  </svg>
            </div><a class="header-cart header-action-item" href="#!">
              <div class="badge cart">26</div>
              <div class="relative">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-cart"></use>
                    </svg>
              </div><span class="title hidden-small">Корзина</span><span class="subtitle hidden-small">Ваша корзина пуста</span>
              <div class="header-card__notify hidden-small">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-notify"></use>
                    </svg>
                <div class="relative">
                  <div class="message"><span>Вас ждет подарок <br /> + бонусы</span></div>
                </div>
              </div></a>
            <div class="header-user header-action-item header-user-toggle">
              <div class="badge user">5%</div>
              <div class="relative" data-toggle="modal" data-target=".modal-login" data-modal-action="login">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-person"></use>
                    </svg>
              </div><span class="user-not-logged title hidden-small" data-toggle="modal" data-target=".modal-login" data-modal-action="login">Войти</span><span class="user-not-logged subtitle hidden-small" data-toggle="modal" data-target=".modal-register" data-modal-action="register">Регистрация</span><span class="user-logged title hidden-small user-name">Александр</span><span class="user-logged subtitle hidden-small user-account">Бонусный счет 2252</span>
              <div class="triangle" data-toggle="modal" data-target=".bs-example-modal-sm" data-modal-action="login">
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use>
                    </svg>
              </div>
              <div class="header-user-dropdown user-logged">
                <div class="relative">
                  <div class="badge user">5%</div>
                </div>
                <div class="header-user-toggle clearfix">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-person"></use>
                      </svg><span class="user-logged title user-name">Александр</span><span class="user-logged subtitle user-account">Бонусный счет 2252</span>
                </div>
                <div class="header-user-links"><a href="#!">
                        <svg>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-user-1"></use>
                        </svg><span class="inline-middle">Ваш личный кабинет</span></a><a href="#!">
                        <svg>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-user-2"></use>
                        </svg><span class="inline-middle">Бонусный счет</span></a><a href="#!">
                        <svg>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-user-3"></use>
                        </svg><span class="inline-middle">Избранное</span></a><a href="#!">
                        <svg>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-user-4"></use>
                        </svg><span class="inline-middle">Выйти</span></a></div>
              </div>
            </div>
          </div><a class="header-banner" href="#!"><img src="banners/header-banner.png"></a>
        </div>
      </div>
    </header>
    <main data-page="undefined"></main>
    <!-- Mocha container.-->
    <div id="mocha"></div>
    <!-- Global help-variables-->
    <script src="./test-js/global.js"></script>
    <!-- Header components test-->
    <script src="./test-js/header.test.js"></script>
  </body>
</html>

src/pug/components/header.pug
include ../includes/mixins.pug
header
    .header-links
        .pull-left
            .header-links-toggle
                span.hidden-mobile Дополнительная информация
                span.shown-mobile-inline Инфо
                +svg('icon-triangle')
            .header-links__links
                a(href="#!") Карта постоянного клиента
                a(href="#!") Активация кодов
                a(href="#!") Доставка и Оплата
                a(href="#!") Гарантия и качество
                a(href="#!") Контакты и магазины
        .pull-right
            .header-links__city-choice
                span Ваш город:
                #city_choice
                    span.header-links__city-selected Алматы
                    +svg('icon-triangle')
                .header-links__city-list
                    .title.pull-left
                        span Ваш город:
                            .header-links__city-selected Алматы
                        span От Вашего выбора зависит стоимость и дата доставки
                    .column.pull-left
                        .header-links__city-item.active(data-city-id="1") Алматы
                        .header-links__city-item(data-city-id="2") Актобе
                        .header-links__city-item(data-city-id="3") Актау
                        .header-links__city-item(data-city-id="4") Семей
                        .header-links__city-item(data-city-id="5") Уральск
                        .header-links__city-item(data-city-id="6") Шымкент
                        .header-links__city-item(data-city-id="7") Экибазтус
                        .header-links__city-item(data-city-id="8") Зыряновск
                    .column.pull-left
                        .header-links__city-item(data-city-id="9") Астана
                        .header-links__city-item(data-city-id="10") Атырау
                        .header-links__city-item(data-city-id="11") Караганда
                        .header-links__city-item(data-city-id="12") Тараз
                        .header-links__city-item(data-city-id="13") Усть-Каменогорск
                        .header-links__city-item(data-city-id="14") Павлоград
                        .header-links__city-item(data-city-id="15") Костанай
                        .header-links__city-item(data-city-id="16") Другой
            .header-links__city-number
                span для&nbsp
                span#city_name Алматы
                a#city_number(href="tel:8 727 338 3700") 8 727 338 3700
            a.header-links__call(href="tel:7890")
                span Бесплатный звонок с мобильного&nbsp
                +svg('icon-phone')
                span <b>7890</b>
    .header-main
        .pull-left
            a.header-logo(href="#!"): img(src="./img/logo.png")
            #header__menu-toggle
                +svg('icon-hamburger')
                span Каталог товаров
                +svg('icon-triangle')
        .header-search
            .header-search__wrapper
                .header-search__categories
                    span Все категории
                    +svg('icon-triangle')
                    .relative
                        .all-categories-container
                            .column
                                .category.active(data-category-id="1") Все категории
                                .category(data-category-id="2") Акции
                                .category(data-category-id="3") Новинки
                                .category(data-category-id="4") Гидроскутеры
                                .category(data-category-id="5") Звездные войны
                                .category(data-category-id="6") Кино
                                .category(data-category-id="7") Наушники
                                .category(data-category-id="8") Музыка
                                .category(data-category-id="9") Все товары
                            .column
                                .category(data-category-id="10") Книжный магазин
                                .category(data-category-id="11") Творчество и хобби
                                .category(data-category-id="12") Школа и канцелярия
                                .category(data-category-id="13") Игровые приставки и аксессеары
                                .category(data-category-id="14") Виделигры для консолей
                                .category(data-category-id="15") Игрушки и развлечения
                                .category(data-category-id="16") Активный отдых
                                .category(data-category-id="17") Туризм
                form.header-search__search-field(autocomplete="off")
                    input(type="text", autocomplete="off", autocorrect="off", autocapitalize="off")
                .header-search__search-button
                    +svg('icon-search')
            .header-categories
                a(href="#!") Акции
                a(href="#!") Новинки
                a(href="#!") Гироскутеры
                a(href="#!") Звездные войны
                a(href="#!") Кино
                a(href="#!") Наушники
                a(href="#!") Музыка
                a(href="#!") Все товары
                a(href="#!") Sale
        .pull-right
            .row
                .header-action-item.clearfix.header-search-trigger
                    +svg('icon-search')
                a.header-cart.header-action-item(href="#!")
                    .badge.cart 26
                    .relative
                        +svg('icon-cart')
                    span.title.hidden-small Корзина
                    span.subtitle.hidden-small Ваша корзина пуста
                    .header-card__notify.hidden-small
                        +svg('icon-notify')
                        .relative
                            .message
                                span Вас ждет подарок <br /> + бонусы
                .header-user.header-action-item.header-user-toggle
                    .badge.user
                        +svg('icon-bubble')
                        .user-badge-discount 25%
                    .relative(data-toggle="modal", data-target=".modal-login", data-modal-action="login")
                        +svg('icon-person')
                    span.user-not-logged.title.hidden-small(data-toggle="modal", data-target=".modal-login", data-modal-action="login") Войти
                    span.user-not-logged.subtitle.hidden-small(data-toggle="modal", data-target=".modal-register", data-modal-action="register") Регистрация
                    span.user-logged.title.hidden-small.user-name Александр
                    span.user-logged.subtitle.hidden-small.user-account Бонусный счет 2252
                    .triangle(data-toggle="modal", data-target=".bs-example-modal-sm", data-modal-action="login")
                        +svg('icon-triangle')
                    .header-user-dropdown.user-logged
                        .relative
                            .badge.user
                                +svg('icon-bubble')
                                .user-badge-discount 25%
                        .header-user-toggle.clearfix
                            +svg('icon-person')
                            span.user-logged.title.user-name Александр
                            span.user-logged.subtitle.user-account Бонусный счет 2252
                        .header-user-links
                            a(href="#!")
                                +svg('icon-user-1')
                                span.inline-middle Ваш личный кабинет
                            a(href="#!")
                                +svg('icon-user-2')
                                span.inline-middle Бонусный счет
                            a(href="#!")
                                +svg('icon-user-3')
                                span.inline-middle Избранное
                            a(href="#!")
                                +svg('icon-user-4')
                                span.inline-middle Выйти
            a.header-banner(href="#!")
                img(src="banners/header-banner.png")
