src/pug/pages/other/personal_cabinet/bonus-change.pug
extends extend/page_template
block variables
    - const title = "Bonus change"
    - const dataPageName = "static"
block rightBar
    .pc-page-title: h1 Обмен бонусов на скидку
    span.currentValue.bonus-change-values Баланс:&nbsp&nbsp&nbsp<b>0 бонусов</b>&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp&nbspВаша скидка:&nbsp&nbsp&nbsp<b>0%</b>
    .bonus-change-cards
        .bonus-change-card-container
            .bonus-change-card
                .top-bar
                    img(src="./img/bonus-change.png")
                    .inline-middle.full-height
                    .hover-text
                        .inline-middle.full-height
                        .content
                            span Нужно накопить еще:
                            span <b>5000</b> бонусов
                .bottom-bar
                    .inline-middle.full-height
                    span 2% скидка
            .label Стоимость: <b>2500 бонусов</b>
        .bonus-change-card-container
            .bonus-change-card
                .top-bar
                    img(src="./img/bonus-change.png")
                    .inline-middle.full-height
                    .hover-text
                        .inline-middle.full-height
                        .content
                            span Нужно накопить еще:
                            span <b>5000</b> бонусов
                .bottom-bar
                    .inline-middle.full-height
                    span 5% скидка
            .label Стоимость: <b>5000 бонусов</b>
        .bonus-change-card-container
            .bonus-change-card
                .top-bar
                    img(src="./img/bonus-change.png")
                    .inline-middle.full-height
                    .hover-text
                        .inline-middle.full-height
                        .content
                            span Нужно накопить еще:
                            span <b>5000</b> бонусов
                .bottom-bar
                    .inline-middle.full-height
                    span 30% скидка
            .label Стоимость: <b>27000 бонусов</b>

personal_cabinet/bonus-change.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Bonus change</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="static"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Обмен бонусов на скидку</h1></div><span class="currentValue bonus-change-values">Баланс:&nbsp&nbsp&nbsp<b>0 бонусов</b>&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp&nbspВаша скидка:&nbsp&nbsp&nbsp<b>0%</b></span><div class="bonus-change-cards"><div class="bonus-change-card-container"><div class="bonus-change-card"><div class="top-bar"><img src="./img/bonus-change.png"><div class="inline-middle full-height"></div><div class="hover-text"><div class="inline-middle full-height"></div><div class="content"><span>Нужно накопить еще:</span><span><b>5000</b> бонусов</span></div></div></div><div class="bottom-bar"><div class="inline-middle full-height"></div><span>2% скидка</span></div></div><div class="label">Стоимость: <b>2500 бонусов</b></div></div><div class="bonus-change-card-container"><div class="bonus-change-card"><div class="top-bar"><img src="./img/bonus-change.png"><div class="inline-middle full-height"></div><div class="hover-text"><div class="inline-middle full-height"></div><div class="content"><span>Нужно накопить еще:</span><span><b>5000</b> бонусов</span></div></div></div><div class="bottom-bar"><div class="inline-middle full-height"></div><span>5% скидка</span></div></div><div class="label">Стоимость: <b>5000 бонусов</b></div></div><div class="bonus-change-card-container"><div class="bonus-change-card"><div class="top-bar"><img src="./img/bonus-change.png"><div class="inline-middle full-height"></div><div class="hover-text"><div class="inline-middle full-height"></div><div class="content"><span>Нужно накопить еще:</span><span><b>5000</b> бонусов</span></div></div></div><div class="bottom-bar"><div class="inline-middle full-height"></div><span>30% скидка</span></div></div><div class="label">Стоимость: <b>27000 бонусов</b></div></div></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>
