src/pug/pages/other/personal_cabinet/bonus-card-operations.pug
extends extend/page_template
block variables
    - const title = "Bonus card operations page page"
    - const dataPageName = "static"
block cardOps
    a.active.pc-menu__link(href="/meloman/personal_cabinet/bonus-card-operations.html")
        span Операции по бонусной карте
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Операции по бонусной карте
    span.currentValue Всего начисленно : 146362; Всего списанно : -75419; Остаток : 70943;
    .bonus-operations-table
        .titles-row
            .title Дата
            .title Списано
            .title Начислено
            .title Сумма операции
            .title Тип операции
        - var i = 0;
        - for (i; i < 10; i++) {
            .values-row
                .value 2016.06.30
                .value 0
                .value 48
                .value 3156т
                .value Покупка
        - }

personal_cabinet/bonus-card-operations.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Bonus card operations page page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="static"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="active pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Операции по бонусной карте</h1></div><span class="currentValue">Всего начисленно : 146362; Всего списанно : -75419; Остаток : 70943;</span><div class="bonus-operations-table"><div class="titles-row"><div class="title">Дата</div><div class="title">Списано</div><div class="title">Начислено</div><div class="title">Сумма операции</div><div class="title">Тип операции</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div><div class="values-row"><div class="value">2016.06.30</div><div class="value">0</div><div class="value">48</div><div class="value">3156т</div><div class="value">Покупка</div></div></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>
