personal_cabinet/change-personal-data.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Change personal data page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="action"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="active pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Изменить персональные данные</h1></div><form class="form change-personal-data-form"><div class="form-inputs-separator pull-left"><label class="form-input userSecondname"><span>Фамилия</span><input type="text" placeholder="Введите фамилию" name="secondname"><div class="error"></div></label><label class="form-input userName"><span>Имя</span><input type="text" placeholder="Введите имя" name="name"><div class="error"></div></label><label class="form-input userLastname"><span>Отчество</span><input type="text" placeholder="Введите отчество" name="lastname"><div class="error"></div></label></div><div class="form-inputs-separator pull-right"><label class="form-input userPhone"><span>Домашний или рабочий телефон</span><div class="user-phone-number"><span class="value">+7 (701) 543-62-83</span><a class="change" href="/meloman/personal_cabinet/change-phone.html">Изменить</a></div><div class="error"></div></label><label class="form-input userSex"><span>Пол</span><div class="select-box"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use></svg><select name="sex"><option value="0" disabled selected>Выберите пол</option><option value="1">Женщина</option><option value="2">Мужчина</option></select></div><div class="error"></div></label><label class="form-input userBirthday"><span>Дата рождения</span><input type="text" placeholder="Укажите дату рождения" name="birthday"><div class="error"></div></label><button class="validate-form-button" type="submit">Сохранить</button></div></form></div></main><script src="js/index.pc.bundle.js"></script></body></html>

src/pug/pages/other/personal_cabinet/change-personal-data.pug
extends extend/page_template
block variables
    - const title = "Change personal data page"
    - const dataPageName = "action"
block personalData
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-personal-data.html")
        span Изменить персональные данные
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Изменить персональные данные
    form.form.change-personal-data-form
        .form-inputs-separator.pull-left
            label.form-input.userSecondname
                span Фамилия
                input(type="text", placeholder="Введите фамилию", name="secondname")
                .error
            label.form-input.userName
                span Имя
                input(type="text", placeholder="Введите имя", name="name")
                .error
            label.form-input.userLastname
                span Отчество
                input(type="text", placeholder="Введите отчество", name="lastname")
                .error
        .form-inputs-separator.pull-right
            label.form-input.userPhone
                span Домашний или рабочий телефон
                .user-phone-number
                    span.value +7 (701) 543-62-83
                    a.change(href="/meloman/personal_cabinet/change-phone.html") Изменить
                .error
            label.form-input.userSex
                span Пол
                .select-box
                    +svg('icon-triangle')
                    select(name="sex")
                        option(value="0", disabled, selected) Выберите пол
                        option(value="1") Женщина
                        option(value="2") Мужчина
                .error
            label.form-input.userBirthday
                span Дата рождения
                input(type="text", placeholder="Укажите дату рождения", name="birthday")
                .error
            button.validate-form-button(type='submit') Сохранить
