src/pug/pages/other/personal_cabinet/change-delivery.pug
extends extend/page_template
block variables
    - const title = "Change delivery data page"
    - const dataPageName = "action"
block deliveryData
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-delivery.html")
        span Изменить адрес доставки
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Данные для доставки товара
    form.form.change-delivery-form
        .form-inputs-separator.pull-left
            label.form-input.userPostindex
                span Почтовый индекс
                input(type="text", placeholder="Введите индекс", name="postindex")
                .error
            label.form-input.userCommunity
                span Микрорайон
                input(type="text", placeholder="Укажите микрорайон", name="community")
                .error
            label.half-label.form-input.userHouse.pull-left
                span № Дома
                input(type="text", name="house")
                .error
            label.half-label.form-input.userAppartement.pull-right
                span № Квартиры
                input(type="text", name="house")
                .error
            label.form-input.userComment
                span Комментарий к доставке
                textarea(placeholder="Введите текст", name="comment")
                .error
        .form-inputs-separator.pull-right
            label.form-input.userCity
                span Город или населенный пункт
                .select-box
                    +svg('icon-triangle')
                    select(name="city")
                        option(value="0", disabled, selected) Выберите населенный пункт
                        option(value="1") Населенный пункт 1
                        option(value="2") Населенный пункт 2
                .error
            label.form-input.userStreet
                span Улица
                input(type="text", placeholder="Укажите улицу", name="street")
                .error
            label.form-input.userDeliverytime
                span Предпочтительное время доставки
                .select-box
                    +svg('icon-triangle')
                    select(name="deliverytime")
                        option(value="1", selected) Утром
                        option(value="2") Днем
                        option(value="3") Вечером
                .error
            button.validate-form-button(type='submit') Сохранить

personal_cabinet/change-delivery.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Change delivery data page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="action"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="active pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Данные для доставки товара</h1></div><form class="form change-delivery-form"><div class="form-inputs-separator pull-left"><label class="form-input userPostindex"><span>Почтовый индекс</span><input type="text" placeholder="Введите индекс" name="postindex"><div class="error"></div></label><label class="form-input userCommunity"><span>Микрорайон</span><input type="text" placeholder="Укажите микрорайон" name="community"><div class="error"></div></label><label class="half-label form-input userHouse pull-left"><span>№ Дома</span><input type="text" name="house"><div class="error"></div></label><label class="half-label form-input userAppartement pull-right"><span>№ Квартиры</span><input type="text" name="house"><div class="error"></div></label><label class="form-input userComment"><span>Комментарий к доставке</span><textarea placeholder="Введите текст" name="comment"></textarea><div class="error"></div></label></div><div class="form-inputs-separator pull-right"><label class="form-input userCity"><span>Город или населенный пункт</span><div class="select-box"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use></svg><select name="city"><option value="0" disabled selected>Выберите населенный пункт</option><option value="1">Населенный пункт 1</option><option value="2">Населенный пункт 2</option></select></div><div class="error"></div></label><label class="form-input userStreet"><span>Улица</span><input type="text" placeholder="Укажите улицу" name="street"><div class="error"></div></label><label class="form-input userDeliverytime"><span>Предпочтительное время доставки</span><div class="select-box"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use></svg><select name="deliverytime"><option value="1" selected>Утром</option><option value="2">Днем</option><option value="3">Вечером</option></select></div><div class="error"></div></label><button class="validate-form-button" type="submit">Сохранить</button></div></form></div></main><script src="js/index.pc.bundle.js"></script></body></html>
