src/pug/pages/other/personal_cabinet/favourite.pug
extends extend/page_template
block variables
    - const title = "Favourite items page"
    - const dataPageName = "custom-fav"
block favourite
    a.active.pc-menu__link(href="/meloman/personal_cabinet/favourite.html")
        span Избранное
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Избранное
    .items-container
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item

personal_cabinet/favourite.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Favourite items page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="custom-fav"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="active pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Избранное</h1></div><div class="items-container"><span class="default-item loaded" data-id="3" data-price="210" data-name="Chicco: Термический контейнер для питания Step Up" data-category="Малыш и мама" data-rating="3"><a class="default-item-preview" href="#!"><div class="inline-middle"></div><img src="./pic/item-preview.png"></a><a class="default-item-title" href="#!">Chicco: Термический контейнер для питания Step Up</a><div class="default-item-rating_reviews clearfix"><div class="default-item-rating"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg></div><div class="default-item-reviews">43 отзыва</div></div><div class="default-item-price"><div class="default-item-oldPrice"><span></span>135 000 т</div><div class="default-item-newPrice">125 000 т</div></div><div class="default-item-buy"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-cart"></use></svg></div><div class="default-item-purchased"><div class="view"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-check"></use></svg></div><div class="hover"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-x-big"></use></svg></div></div><div class="default-item-pending"><img src="./img/preloader.svg"></div></span><span class="default-item loaded" data-id="3" data-price="210" data-name="Chicco: Термический контейнер для питания Step Up" data-category="Малыш и мама" data-rating="3"><a class="default-item-preview" href="#!"><div class="inline-middle"></div><img src="./pic/item-preview.png"></a><a class="default-item-title" href="#!">Chicco: Термический контейнер для питания Step Up</a><div class="default-item-rating_reviews clearfix"><div class="default-item-rating"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg></div><div class="default-item-reviews">43 отзыва</div></div><div class="default-item-price"><div class="default-item-oldPrice"><span></span>135 000 т</div><div class="default-item-newPrice">125 000 т</div></div><div class="default-item-buy"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-cart"></use></svg></div><div class="default-item-purchased"><div class="view"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-check"></use></svg></div><div class="hover"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-x-big"></use></svg></div></div><div class="default-item-pending"><img src="./img/preloader.svg"></div></span><span class="default-item loaded" data-id="3" data-price="210" data-name="Chicco: Термический контейнер для питания Step Up" data-category="Малыш и мама" data-rating="3"><a class="default-item-preview" href="#!"><div class="inline-middle"></div><img src="./pic/item-preview.png"></a><a class="default-item-title" href="#!">Chicco: Термический контейнер для питания Step Up</a><div class="default-item-rating_reviews clearfix"><div class="default-item-rating"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg></div><div class="default-item-reviews">43 отзыва</div></div><div class="default-item-price"><div class="default-item-oldPrice"><span></span>135 000 т</div><div class="default-item-newPrice">125 000 т</div></div><div class="default-item-buy"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-cart"></use></svg></div><div class="default-item-purchased"><div class="view"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-check"></use></svg></div><div class="hover"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-x-big"></use></svg></div></div><div class="default-item-pending"><img src="./img/preloader.svg"></div></span><span class="default-item loaded" data-id="3" data-price="210" data-name="Chicco: Термический контейнер для питания Step Up" data-category="Малыш и мама" data-rating="3"><a class="default-item-preview" href="#!"><div class="inline-middle"></div><img src="./pic/item-preview.png"></a><a class="default-item-title" href="#!">Chicco: Термический контейнер для питания Step Up</a><div class="default-item-rating_reviews clearfix"><div class="default-item-rating"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg></div><div class="default-item-reviews">43 отзыва</div></div><div class="default-item-price"><div class="default-item-oldPrice"><span></span>135 000 т</div><div class="default-item-newPrice">125 000 т</div></div><div class="default-item-buy"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-cart"></use></svg></div><div class="default-item-purchased"><div class="view"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-check"></use></svg></div><div class="hover"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-x-big"></use></svg></div></div><div class="default-item-pending"><img src="./img/preloader.svg"></div></span><span class="default-item loaded" data-id="3" data-price="210" data-name="Chicco: Термический контейнер для питания Step Up" data-category="Малыш и мама" data-rating="3"><a class="default-item-preview" href="#!"><div class="inline-middle"></div><img src="./pic/item-preview.png"></a><a class="default-item-title" href="#!">Chicco: Термический контейнер для питания Step Up</a><div class="default-item-rating_reviews clearfix"><div class="default-item-rating"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg></div><div class="default-item-reviews">43 отзыва</div></div><div class="default-item-price"><div class="default-item-oldPrice"><span></span>135 000 т</div><div class="default-item-newPrice">125 000 т</div></div><div class="default-item-buy"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-cart"></use></svg></div><div class="default-item-purchased"><div class="view"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-check"></use></svg></div><div class="hover"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-x-big"></use></svg></div></div><div class="default-item-pending"><img src="./img/preloader.svg"></div></span><span class="default-item loaded" data-id="3" data-price="210" data-name="Chicco: Термический контейнер для питания Step Up" data-category="Малыш и мама" data-rating="3"><a class="default-item-preview" href="#!"><div class="inline-middle"></div><img src="./pic/item-preview.png"></a><a class="default-item-title" href="#!">Chicco: Термический контейнер для питания Step Up</a><div class="default-item-rating_reviews clearfix"><div class="default-item-rating"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-star"></use></svg></div><div class="default-item-reviews">43 отзыва</div></div><div class="default-item-price"><div class="default-item-oldPrice"><span></span>135 000 т</div><div class="default-item-newPrice">125 000 т</div></div><div class="default-item-buy"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-cart"></use></svg></div><div class="default-item-purchased"><div class="view"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-check"></use></svg></div><div class="hover"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-x-big"></use></svg></div></div><div class="default-item-pending"><img src="./img/preloader.svg"></div></span><div class="fill-empty-space-item"></div><div class="fill-empty-space-item"></div><div class="fill-empty-space-item"></div><div class="fill-empty-space-item"></div><div class="fill-empty-space-item"></div><div class="fill-empty-space-item"></div></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>
