personal_cabinet/index.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Personal cabinet index page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global base url and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="index"><div class="left-bar"><div class="pc-page-title showSmall"><h1>Личный кабинет</h1></div><div class="pc-menu" id="pc-main-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><div class="pc-page-title"><h1>Личный кабинет</h1></div><span class="fs20" style="width: 100%; display: inline-block; margin-bottom: 20px">Мы рады Вам!</span><span class="fs16" style="width: 100%; display: inline-block; margin-bottom: 20px">С помощью меню слева вы можете управлять вашим аккаунтом, отслеживать статус заказов, состояние балльного счета, настраивать подписку на интересующие вас товары.</span><span class="fs16" style="font-size: 16px; width: 100%; display: inline-block">Личные сведения, полученные в распоряжение интернет-магазина при регистрации или каким-либо иным образом, будут использованы исключительно для исполнения Ваших заказов, и не будут передаваться третьим организациям и лицам, без Вашего согласия, за исключением ситуаций, когда этого требует закон или судебное решение.</span></div></main><script src="js/index.pc.bundle.js"></script></body></html>

src/pug/pages/other/personal_cabinet/index.pug
include ../../../includes/mixins.pug
doctype html
html(lang='ru')
    block variables
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        title Personal cabinet index page
        link(href=`css/index.pc.min.css`, rel='stylesheet')
    body
        // Global base url and webpackManifest variables (for back-end purpose)
        script.
            window.baseUrl = location.origin;
            window.webpackManifest = {};
        main(data-pc-page="index")
            .left-bar
                .pc-page-title.showSmall: h1 Личный кабинет
                .pc-menu#pc-main-menu(ontouchstart)
                    .pc-menu__block
                        a.pc-menu__title(href="/meloman/personal_cabinet/my-orders.html")
                            span Мои заказы
                            +svg('icon-arrow')
                        .pc-menu__title
                            span Персональная информация
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-personal-data.html")
                            span Изменить персональные данные
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-delivery.html")
                            span Изменить адрес доставки
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-email.html")
                            span Изменить e-mail
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-phone.html")
                            span Изменить номер телефона
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-mailing-list.html")
                            span Управление рассылками
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-password.html")
                            span Изменить пароль
                            +svg('icon-arrow')
                    .pc-menu__block
                        .pc-menu__title
                            span Бонусный клуб
                        .pc-menu__bonus-club-info
                            .info-row
                                span.title Карта
                                span.value ****3762
                            .info-row
                                span.title Баланс:
                                span.value 25 555
                            .info-row
                                span.title Скидка:
                                span.value <a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%
                        a.pc-menu__link(href="/meloman/personal_cabinet/bind-card.html")
                            span Привязать карту
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/bonus-card-operations.html")
                            span Операции по бонусной карте
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/activate-promo-code.html")
                            span Активировать промо-код
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/save-bonuses.html")
                            span Как копить бонусы
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/spend-bonuses.html")
                            span Как тратить бонусы
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/contact-operator.html")
                            span Связаться с оператором
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/shops.html")
                            span Адреса магазинов
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/favourite.html")
                            span Избранное
                            +svg('icon-arrow')
            .right-bar
                .pc-page-title: h1 Личный кабинет
                span.fs20(style="width: 100%; display: inline-block; margin-bottom: 20px;") Мы рады Вам!
                span.fs16(style="width: 100%; display: inline-block; margin-bottom: 20px;") С помощью меню слева вы можете управлять вашим аккаунтом, отслеживать статус заказов, состояние балльного счета, настраивать подписку на интересующие вас товары.
                span.fs16(style="font-size: 16px; width: 100%; display: inline-block") Личные сведения, полученные в распоряжение интернет-магазина при регистрации или каким-либо иным образом, будут использованы исключительно для исполнения Ваших заказов, и не будут передаваться третьим организациям и лицам, без Вашего согласия, за исключением ситуаций, когда этого требует закон или судебное решение.
        script(src=`js/index.pc.bundle.js`)
