src/pug/pages/other/personal_cabinet/my-orders.pug
extends extend/page_template
block variables
    - const title = "My orders page"
    - const dataPageName = "order"
block myOrdersLink
    a.active.pc-menu__title(href="/meloman/personal_cabinet/my-orders.html")
        span Мои заказы
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Мои заказы
    .my-orders__table
        .desktop-header
            .title Номер заказа
            .title Дата заказа
            .title Сумма товара
            .title Сумма доставки
            .title Сумма всего
            .title Статус заказа
            .title Тип оплаты
        - var i = 0;
        - for (i; i < 3; i++) {
        a.my-orders__order(href="/meloman/personal_cabinet/my-order.html")
            .my-orders__order-row.order-number
                .title Номер заказа
                .value
                    img(src="./img/my-orders-icon.png")
                    span 654651321
            .my-orders__order-row.order-date
                .title Дата заказа
                .value
                    span.date 21.08.2016
                    span.time 14:26
            .my-orders__order-row.order-sum
                .title Сумма товара
                .value
                    span 20 654 тнг
            .my-orders__order-row.order-delivery-sum
                .title Сумма доставки
                .value
                    span 0.00 тнг
            .my-orders__order-row.order-total-sum
                .title Сумма всего
                .value
                    span 20 654 тнг
            .my-orders__order-row.order-status
                .title Статус заказа
                .value
                    span Продан
            .my-orders__order-row.order-payment-type
                .title Тип оплаты
                .value
                    span Наличными
        - }

personal_cabinet/my-orders.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>My orders page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="order"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="active pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Мои заказы</h1></div><div class="my-orders__table"><div class="desktop-header"><div class="title">Номер заказа</div><div class="title">Дата заказа</div><div class="title">Сумма товара</div><div class="title">Сумма доставки</div><div class="title">Сумма всего</div><div class="title">Статус заказа</div><div class="title">Тип оплаты</div></div><a class="my-orders__order" href="/meloman/personal_cabinet/my-order.html"><div class="my-orders__order-row order-number"><div class="title">Номер заказа</div><div class="value"><img src="./img/my-orders-icon.png"><span>654651321</span></div></div><div class="my-orders__order-row order-date"><div class="title">Дата заказа</div><div class="value"><span class="date">21.08.2016</span><span class="time">14:26</span></div></div><div class="my-orders__order-row order-sum"><div class="title">Сумма товара</div><div class="value"><span>20 654 тнг</span></div></div><div class="my-orders__order-row order-delivery-sum"><div class="title">Сумма доставки</div><div class="value"><span>0.00 тнг</span></div></div><div class="my-orders__order-row order-total-sum"><div class="title">Сумма всего</div><div class="value"><span>20 654 тнг</span></div></div><div class="my-orders__order-row order-status"><div class="title">Статус заказа</div><div class="value"><span>Продан</span></div></div><div class="my-orders__order-row order-payment-type"><div class="title">Тип оплаты</div><div class="value"><span>Наличными</span></div></div></a><a class="my-orders__order" href="/meloman/personal_cabinet/my-order.html"><div class="my-orders__order-row order-number"><div class="title">Номер заказа</div><div class="value"><img src="./img/my-orders-icon.png"><span>654651321</span></div></div><div class="my-orders__order-row order-date"><div class="title">Дата заказа</div><div class="value"><span class="date">21.08.2016</span><span class="time">14:26</span></div></div><div class="my-orders__order-row order-sum"><div class="title">Сумма товара</div><div class="value"><span>20 654 тнг</span></div></div><div class="my-orders__order-row order-delivery-sum"><div class="title">Сумма доставки</div><div class="value"><span>0.00 тнг</span></div></div><div class="my-orders__order-row order-total-sum"><div class="title">Сумма всего</div><div class="value"><span>20 654 тнг</span></div></div><div class="my-orders__order-row order-status"><div class="title">Статус заказа</div><div class="value"><span>Продан</span></div></div><div class="my-orders__order-row order-payment-type"><div class="title">Тип оплаты</div><div class="value"><span>Наличными</span></div></div></a><a class="my-orders__order" href="/meloman/personal_cabinet/my-order.html"><div class="my-orders__order-row order-number"><div class="title">Номер заказа</div><div class="value"><img src="./img/my-orders-icon.png"><span>654651321</span></div></div><div class="my-orders__order-row order-date"><div class="title">Дата заказа</div><div class="value"><span class="date">21.08.2016</span><span class="time">14:26</span></div></div><div class="my-orders__order-row order-sum"><div class="title">Сумма товара</div><div class="value"><span>20 654 тнг</span></div></div><div class="my-orders__order-row order-delivery-sum"><div class="title">Сумма доставки</div><div class="value"><span>0.00 тнг</span></div></div><div class="my-orders__order-row order-total-sum"><div class="title">Сумма всего</div><div class="value"><span>20 654 тнг</span></div></div><div class="my-orders__order-row order-status"><div class="title">Статус заказа</div><div class="value"><span>Продан</span></div></div><div class="my-orders__order-row order-payment-type"><div class="title">Тип оплаты</div><div class="value"><span>Наличными</span></div></div></a></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>
