personal_cabinet/my-order.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>My order page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="order"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet/my-orders.html"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Мои заказы</span></a><div class="pc-page-title hide767"><h1><a href="/meloman/personal_cabinet/my-orders.html">Мои заказы</a></h1></div><div class="pc-page-title show767"><span>Заказ № 101972454</span></div><div class="single-order-table"><div class="single-order-table__data"><div class="half-table short"><div class="table-row"><div class="title">Заказ:</div><div class="value">№ 101972454 (отклонен)</div></div><div class="table-row"><div class="title">Магазин:</div><div class="value">www.meloman.kz</div></div><div class="table-row"><div class="title">Ф.И.О.:</div><div class="value">Виталий</div></div><div class="table-row"><div class="title">E-mail:</div><div class="value">wewe@mail.ru</div></div><div class="table-row"><div class="title">Телефон:</div><div class="value">+7 701 654 654 65</div></div></div><div class="half-table long"><div class="table-row"><div class="title">Способ доставки:</div><div class="value">Бесплатная доставка в розничный магазин</div></div><div class="table-row"><div class="title">Торговая точка:</div><div class="value">Меломан “Grand”</div></div><div class="table-row"><div class="title">Регион доставки:</div><div class="value">Алматы</div></div><div class="table-row"><div class="title">Bремя доставки:</div><div class="value">утро</div></div><div class="table-row"><div class="title">Способ оплаты:</div><div class="value">наличными</div></div></div></div><div class="single-order-table__products"><div class="titles-row"><div class="title id">ID</div><div class="title name">Наименование</div><div class="title price">Цена</div><div class="title count">Кол-во</div><div class="title total">Сумма</div></div><div class="values-row"><div class="value id">1600398</div><div class="value name">Емец ДА Бунт пупсиков (белое оформление)</div><div class="value price">2977.22</div><div class="value count">1</div><div class="value total">2977.22</div></div></div><div class="single-order-table__total"><div class="total-title value">Итого:</div><div class="total-container"><div class="table-row"><div class="title">Сумма:</div><div class="value">2245,55 т = (2345-666)</div></div><div class="table-row"><div class="title">Оплата бонусами:</div><div class="value">666 т</div></div><div class="table-row"><div class="title">Стоимость доставки:</div><div class="value">0.000 т</div></div><div class="table-row"><div class="title">Сумма с доставкой:</div><div class="value">5587 т</div></div></div></div></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>

src/pug/pages/other/personal_cabinet/my-order.pug
extends extend/page_template
block variables
    - const title = "My order page"
    - const dataPageName = "order"
block backButton
    a.back-button.showSmall(href="/meloman/personal_cabinet/my-orders.html")
        +svg('icon-arrow')
        span Мои заказы
block rightBar
    .pc-page-title.hide767: h1: a(href="/meloman/personal_cabinet/my-orders.html") Мои заказы
    .pc-page-title.show767: span Заказ № 101972454
    .single-order-table
        .single-order-table__data
            .half-table.short
                .table-row
                    .title Заказ:
                    .value № 101972454 (отклонен)
                .table-row
                    .title Магазин:
                    .value www.meloman.kz
                .table-row
                    .title Ф.И.О.:
                    .value Виталий
                .table-row
                    .title E-mail:
                    .value wewe@mail.ru
                .table-row
                    .title Телефон:
                    .value +7 701 654 654 65
            .half-table.long
                .table-row
                    .title Способ доставки:
                    .value Бесплатная доставка в розничный магазин
                .table-row
                    .title Торговая точка:
                    .value Меломан “Grand”
                .table-row
                    .title Регион доставки:
                    .value Алматы
                .table-row
                    .title Bремя доставки:
                    .value утро
                .table-row
                    .title Способ оплаты:
                    .value наличными
        .single-order-table__products
            .titles-row
                .title.id ID
                .title.name Наименование
                .title.price Цена
                .title.count Кол-во
                .title.total Сумма
            .values-row
                .value.id 1600398
                .value.name Емец ДА Бунт пупсиков (белое оформление)
                .value.price 2977.22
                .value.count 1
                .value.total 2977.22
        .single-order-table__total
            .total-title.value Итого:
            .total-container
                .table-row
                    .title Сумма:
                    .value 2245,55 т = (2345-666)
                .table-row
                    .title Оплата бонусами:
                    .value 666 т
                .table-row
                    .title Стоимость доставки:
                    .value 0.000 т
                .table-row
                    .title Сумма с доставкой:
                    .value 5587 т
