personal_cabinet/save-bonuses.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Save bonuses page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="static"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="active pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Как копить бонусы</h1></div><div class="text-container save-bonuses"><p class="fs20">Простая арифметика: 1 бонус = 1 тенге.</p><p class="fs16">Тратить бонусы очень легко и приятно: оплачивайте ими до 50% стоимости!</p><p>Каждый накопленный бонус – это вклад в будущие покупки в магазинах MARWIN, «Комфорт» и «Меломан». Накопленные бонусы можно использовать в качестве скидки при приобретении товаров или обменять бонусы на постоянную скидку. 1 бонус = 1 тенге. Чем больше у Вас бонусов – тем больше размер скидки!</p><p>В Личном кабинете Вы увидите, сколько бонусов у Вас уже есть. Информацию о бонусах также всегда можно найти в Вашей корзине. Размер скидки и количество бонусов, необходимых для ее получения, рассчитываются автоматически в процессе оформления заказа. Использовать бонусы для получения скидки при заказе товаров Вы можете на этапе выбора способа оплаты или перед подтверждением заказа. Списание бонусов произойдет сразу после подтверждения заказа.</p><p>На последнем этапе оформления заказа Вам будет предложено использовать бонусы, и Вы сможете принять окончательное решение, как ими распорядиться.</p><p>Независимо от количества бонусов и размера скидки, при оформлении заказа бонусами можно оплатить максимум 50%  от суммы чека. Примеры расчета скидки с использованием бонусов:</p></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>

src/pug/pages/other/personal_cabinet/save-bonuses.pug
extends extend/page_template
block variables
    - const title = "Save bonuses page"
    - const dataPageName = "static"
block saveBonuses
    a.active.pc-menu__link(href="/meloman/personal_cabinet/save-bonuses.html")
        span Как копить бонусы
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Как копить бонусы
    .text-container.save-bonuses
        p.fs20 Простая арифметика: 1 бонус = 1 тенге.
        p.fs16 Тратить бонусы очень легко и приятно: оплачивайте ими до 50% стоимости!
        p Каждый накопленный бонус – это вклад в будущие покупки в магазинах MARWIN, «Комфорт» и «Меломан». Накопленные бонусы можно использовать в качестве скидки при приобретении товаров или обменять бонусы на постоянную скидку. 1 бонус = 1 тенге. Чем больше у Вас бонусов – тем больше размер скидки!
        p В Личном кабинете Вы увидите, сколько бонусов у Вас уже есть. Информацию о бонусах также всегда можно найти в Вашей корзине. Размер скидки и количество бонусов, необходимых для ее получения, рассчитываются автоматически в процессе оформления заказа. Использовать бонусы для получения скидки при заказе товаров Вы можете на этапе выбора способа оплаты или перед подтверждением заказа. Списание бонусов произойдет сразу после подтверждения заказа.
        p На последнем этапе оформления заказа Вам будет предложено использовать бонусы, и Вы сможете принять окончательное решение, как ими распорядиться.
        p Независимо от количества бонусов и размера скидки, при оформлении заказа бонусами можно оплатить максимум 50%  от суммы чека. Примеры расчета скидки с использованием бонусов:
