personal_cabinet/shops.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Shops page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="custom-map"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="active pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Адреса магазинов</h1></div><div class="shops-container"><div class="dropdown-box-container"><div class="dropdown-box inline-middle city"><div class="dropdown-box-title clearfix"><span>Город не выбран</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use></svg></div><div class="dropdown-box-options"><div class="relative inline-middle"><div class="dropdown-box-option" data-value="1"><span class="inline-middle">Алматы</span></div><div class="dropdown-box-option" data-value="2"><span class="inline-middle">Астана</span></div><div class="dropdown-box-option" data-value="3"><span class="inline-middle">Актобе</span></div><div class="dropdown-box-option" data-value="4"><span class="inline-middle">Атырау</span></div><div class="dropdown-box-option" data-value="5"><span class="inline-middle">Актау</span></div><div class="dropdown-box-option" data-value="6"><span class="inline-middle">Бишкек</span></div><div class="dropdown-box-option" data-value="7"><span class="inline-middle">Зыряновск</span></div><div class="dropdown-box-option" data-value="8"><span class="inline-middle">Караганда</span></div><div class="dropdown-box-option" data-value="9"><span class="inline-middle">Костанай</span></div><div class="dropdown-box-option" data-value="10"><span class="inline-middle">Павлоград</span></div><div class="dropdown-box-option" data-value="11"><span class="inline-middle">Семей</span></div><div class="dropdown-box-option" data-value="12"><span class="inline-middle">Шымкент</span></div><div class="dropdown-box-option" data-value="13"><span class="inline-middle">Усть-Каменогорск</span></div><div class="dropdown-box-option" data-value="14"><span class="inline-middle">Уральск</span></div><div class="dropdown-box-option" data-value="15"><span class="inline-middle">Тараз</span></div><div class="dropdown-box-option" data-value="16"><span class="inline-middle">Экибастуз</span></div></div></div></div><div class="dropdown-box inline-middle disabled shop" data-city-id=""><div class="dropdown-box-title clearfix"><span>Магазин не выбран</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-triangle"></use></svg></div><div class="dropdown-box-options"><div class="relative inline-middle"><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="1"><span class="inline-middle">ТРЦ «АДК»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="2"><span class="inline-middle">ТРЦ «Promenade»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="3"><span class="inline-middle">ТРЦ «Dostyk Plaza»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="4"><span class="inline-middle">ТРЦ «MEGA Park»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="5"><span class="inline-middle">Книжный магазин «Меломан» в ТРЦ «Dostyk Plaza»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="6"><span class="inline-middle">Меломан Grand</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="7"><span class="inline-middle">ТЦ «Комфорт»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="8"><span class="inline-middle">ТРЦ «MEGA Alma-Ata»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="9"><span class="inline-middle">Меломан ТРЦ «Esentai Mall»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="10"><span class="inline-middle">«Меломан» GAMES ТРЦ «Dostyk Plaza»</span></div><div class="dropdown-box-option map-link-address" data-city-id="1" data-maplink-id="11"><span class="inline-middle">MARWIN ТЦ "Москва"</span></div><div class="dropdown-box-option map-link-address" data-city-id="2" data-maplink-id="12"><span class="inline-middle">Меломан ТРЦ «MEGA Astana»</span></div><div class="dropdown-box-option map-link-address" data-city-id="2" data-maplink-id="13"><span class="inline-middle">Меломан «Проспект Республики»</span></div><div class="dropdown-box-option map-link-address" data-city-id="2" data-maplink-id="14"><span class="inline-middle">MARWIN ТРЦ «Хан Шатыр»</span></div><div class="dropdown-box-option map-link-address" data-city-id="2" data-maplink-id="15"><span class="inline-middle">MARWIN ТРЦ «Керуен»</span></div><div class="dropdown-box-option map-link-address" data-city-id="2" data-maplink-id="16"><span class="inline-middle">MARWIN ТРЦ «MEGA Astana»</span></div><div class="dropdown-box-option map-link-address" data-city-id="2" data-maplink-id="17"><span class="inline-middle">Меломан ТРЦ «Керуен»</span></div><div class="dropdown-box-option map-link-address" data-city-id="2" data-maplink-id="18"><span class="inline-middle">MARWIN ТРЦ «Сары Арка»</span></div><div class="dropdown-box-option map-link-address" data-city-id="3" data-maplink-id="19"><span class="inline-middle">MARWIN ТРЦ «MEGA Aktobe»</span></div><div class="dropdown-box-option map-link-address" data-city-id="4" data-maplink-id="20"><span class="inline-middle">MARWIN ТРЦ «Сары Арка»</span></div><div class="dropdown-box-option map-link-address" data-city-id="5" data-maplink-id="21"><span class="inline-middle">ТРК «Актау»</span></div><div class="dropdown-box-option map-link-address" data-city-id="6" data-maplink-id="22"><span class="inline-middle">ТРК «Детский Мир»</span></div><div class="dropdown-box-option map-link-address" data-city-id="7" data-maplink-id="23"><span class="inline-middle">MARWIN ТЦ «М-техникс»</span></div><div class="dropdown-box-option map-link-address" data-city-id="8" data-maplink-id="24"><span class="inline-middle">Меломан ТРЦ «Сити Молл»</span></div><div class="dropdown-box-option map-link-address" data-city-id="8" data-maplink-id="25"><span class="inline-middle">MARWIN BABY ТРЦ «Сити Молл»</span></div><div class="dropdown-box-option map-link-address" data-city-id="9" data-maplink-id="26"><span class="inline-middle">ТРЦ «MART»</span></div><div class="dropdown-box-option map-link-address" data-city-id="10" data-maplink-id="27"><span class="inline-middle">MARWIN «Ул. Сатпаева, 19»</span></div><div class="dropdown-box-option map-link-address" data-city-id="10" data-maplink-id="28"><span class="inline-middle">Книжный магазин «Меломан» «Ул. Сатпаева, 19»</span></div><div class="dropdown-box-option map-link-address" data-city-id="11" data-maplink-id="29"><span class="inline-middle">ТЦ «Комфорт»</span></div><div class="dropdown-box-option map-link-address" data-city-id="12" data-maplink-id="30"><span class="inline-middle">Меломан «Ул. Айтеке би»</span></div><div class="dropdown-box-option map-link-address" data-city-id="13" data-maplink-id="31"><span class="inline-middle">MARWIN ТЦ «ЦУМ»</span></div><div class="dropdown-box-option map-link-address" data-city-id="13" data-maplink-id="32"><span class="inline-middle">MARWIN Baby «ул. Кирова, 46»</span></div><div class="dropdown-box-option map-link-address" data-city-id="14" data-maplink-id="33"><span class="inline-middle">MARWIN ТРЦ «Сити Центр»</span></div><div class="dropdown-box-option map-link-address" data-city-id="14" data-maplink-id="34"><span class="inline-middle">ТЦ «Атриум»</span></div><div class="dropdown-box-option map-link-address" data-city-id="14" data-maplink-id="35"><span class="inline-middle">MARWIN ТЦ «Орал»</span></div><div class="dropdown-box-option map-link-address" data-city-id="15" data-maplink-id="36"><span class="inline-middle">MARWIN ТРЦ «MEGA Shymkent»</span></div><div class="dropdown-box-option map-link-address" data-city-id="15" data-maplink-id="37"><span class="inline-middle">MARWIN ТРЦ «Фиркан CITY»</span></div><div class="dropdown-box-option map-link-address" data-city-id="16" data-maplink-id="38"><span class="inline-middle">Меломан ТД «Maxi Mall»</span></div></div></div></div></div><div id="map"></div></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>

src/pug/pages/other/personal_cabinet/shops.pug
extends extend/page_template
block variables
    - const title = "Shops page"
    - const dataPageName = "custom-map"
block shopAddress
    a.active.pc-menu__link(href="/meloman/personal_cabinet/shops.html")
        span Адреса магазинов
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Адреса магазинов
    .shops-container
        .dropdown-box-container
            .dropdown-box.inline-middle.city
                .dropdown-box-title.clearfix
                    span Город не выбран
                    +svg('icon-triangle')
                .dropdown-box-options
                    .relative.inline-middle
                        .dropdown-box-option(data-value="1")
                            span.inline-middle Алматы
                        .dropdown-box-option(data-value="2")
                            span.inline-middle Астана
                        .dropdown-box-option(data-value="3")
                            span.inline-middle Актобе
                        .dropdown-box-option(data-value="4")
                            span.inline-middle Атырау
                        .dropdown-box-option(data-value="5")
                            span.inline-middle Актау
                        .dropdown-box-option(data-value="6")
                            span.inline-middle Бишкек
                        .dropdown-box-option(data-value="7")
                            span.inline-middle Зыряновск
                        .dropdown-box-option(data-value="8")
                            span.inline-middle Караганда
                        .dropdown-box-option(data-value="9")
                            span.inline-middle Костанай
                        .dropdown-box-option(data-value="10")
                            span.inline-middle Павлоград
                        .dropdown-box-option(data-value="11")
                            span.inline-middle Семей
                        .dropdown-box-option(data-value="12")
                            span.inline-middle Шымкент
                        .dropdown-box-option(data-value="13")
                            span.inline-middle Усть-Каменогорск
                        .dropdown-box-option(data-value="14")
                            span.inline-middle Уральск
                        .dropdown-box-option(data-value="15")
                            span.inline-middle Тараз
                        .dropdown-box-option(data-value="16")
                            span.inline-middle Экибастуз
            .dropdown-box.inline-middle.disabled.shop(data-city-id="")
                .dropdown-box-title.clearfix
                    span Магазин не выбран
                    +svg('icon-triangle')
                .dropdown-box-options
                    .relative.inline-middle
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="1")
                            span.inline-middle ТРЦ «АДК»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="2")
                            span.inline-middle ТРЦ «Promenade»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="3")
                            span.inline-middle ТРЦ «Dostyk Plaza»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="4")
                            span.inline-middle ТРЦ «MEGA Park»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="5")
                            span.inline-middle Книжный магазин «Меломан» в ТРЦ «Dostyk Plaza»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="6")
                            span.inline-middle Меломан Grand
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="7")
                            span.inline-middle ТЦ «Комфорт»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="8")
                            span.inline-middle ТРЦ «MEGA Alma-Ata»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="9")
                            span.inline-middle Меломан ТРЦ «Esentai Mall»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="10")
                            span.inline-middle «Меломан» GAMES ТРЦ «Dostyk Plaza»
                        .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="11")
                            span.inline-middle MARWIN ТЦ "Москва"
                        .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="12")
                            span.inline-middle Меломан ТРЦ «MEGA Astana»
                        .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="13")
                            span.inline-middle Меломан «Проспект Республики»
                        .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="14")
                            span.inline-middle MARWIN ТРЦ «Хан Шатыр»
                        .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="15")
                            span.inline-middle MARWIN ТРЦ «Керуен»
                        .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="16")
                            span.inline-middle MARWIN ТРЦ «MEGA Astana»
                        .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="17")
                            span.inline-middle Меломан ТРЦ «Керуен»
                        .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="18")
                            span.inline-middle MARWIN ТРЦ «Сары Арка»
                        .dropdown-box-option.map-link-address(data-city-id="3", data-maplink-id="19")
                            span.inline-middle MARWIN ТРЦ «MEGA Aktobe»
                        .dropdown-box-option.map-link-address(data-city-id="4", data-maplink-id="20")
                            span.inline-middle MARWIN ТРЦ «Сары Арка»
                        .dropdown-box-option.map-link-address(data-city-id="5", data-maplink-id="21")
                            span.inline-middle ТРК «Актау»
                        .dropdown-box-option.map-link-address(data-city-id="6", data-maplink-id="22")
                            span.inline-middle ТРК «Детский Мир»
                        .dropdown-box-option.map-link-address(data-city-id="7", data-maplink-id="23")
                            span.inline-middle MARWIN ТЦ «М-техникс»
                        .dropdown-box-option.map-link-address(data-city-id="8", data-maplink-id="24")
                            span.inline-middle Меломан ТРЦ «Сити Молл»
                        .dropdown-box-option.map-link-address(data-city-id="8", data-maplink-id="25")
                            span.inline-middle MARWIN BABY ТРЦ «Сити Молл»
                        .dropdown-box-option.map-link-address(data-city-id="9", data-maplink-id="26")
                            span.inline-middle ТРЦ «MART»
                        .dropdown-box-option.map-link-address(data-city-id="10", data-maplink-id="27")
                            span.inline-middle MARWIN «Ул. Сатпаева, 19»
                        .dropdown-box-option.map-link-address(data-city-id="10", data-maplink-id="28")
                            span.inline-middle Книжный магазин «Меломан» «Ул. Сатпаева, 19»
                        .dropdown-box-option.map-link-address(data-city-id="11", data-maplink-id="29")
                            span.inline-middle ТЦ «Комфорт»
                        .dropdown-box-option.map-link-address(data-city-id="12", data-maplink-id="30")
                            span.inline-middle Меломан «Ул. Айтеке би»
                        .dropdown-box-option.map-link-address(data-city-id="13", data-maplink-id="31")
                            span.inline-middle MARWIN ТЦ «ЦУМ»
                        .dropdown-box-option.map-link-address(data-city-id="13", data-maplink-id="32")
                            span.inline-middle MARWIN Baby «ул. Кирова, 46»
                        .dropdown-box-option.map-link-address(data-city-id="14", data-maplink-id="33")
                            span.inline-middle MARWIN ТРЦ «Сити Центр»
                        .dropdown-box-option.map-link-address(data-city-id="14", data-maplink-id="34")
                            span.inline-middle ТЦ «Атриум»
                        .dropdown-box-option.map-link-address(data-city-id="14", data-maplink-id="35")
                            span.inline-middle MARWIN ТЦ «Орал»
                        .dropdown-box-option.map-link-address(data-city-id="15", data-maplink-id="36")
                            span.inline-middle MARWIN ТРЦ «MEGA Shymkent»
                        .dropdown-box-option.map-link-address(data-city-id="15", data-maplink-id="37")
                            span.inline-middle MARWIN ТРЦ «Фиркан CITY»
                        .dropdown-box-option.map-link-address(data-city-id="16", data-maplink-id="38")
                            span.inline-middle Меломан ТД «Maxi Mall»
        #map
