personal_cabinet/spend-bonuses.html
<!DOCTYPE html><html lang="ru"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Spend bonuses page</title><link href="css/index.pc.min.css" rel="stylesheet"></head><body><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {};</script><main data-pc-page="static"><div class="left-bar"><div class="pc-menu" ontouchstart><div class="pc-menu__block"><a class="pc-menu__title" href="/meloman/personal_cabinet/my-orders.html"><span>Мои заказы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><div class="pc-menu__title"><span>Персональная информация</span></div><a class="pc-menu__link" href="/meloman/personal_cabinet/change-personal-data.html"><span>Изменить персональные данные</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-delivery.html"><span>Изменить адрес доставки</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-email.html"><span>Изменить e-mail</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-phone.html"><span>Изменить номер телефона</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-mailing-list.html"><span>Управление рассылками</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/change-password.html"><span>Изменить пароль</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div><div class="pc-menu__block"><div class="pc-menu__title"><span>Бонусный клуб</span></div><div class="pc-menu__bonus-club-info"><div class="info-row"><span class="title">Карта</span><span class="value">****3762</span></div><div class="info-row"><span class="title">Баланс:</span><span class="value">25 555</span></div><div class="info-row"><span class="title">Скидка:</span><span class="value"><a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%</span></div></div><a class="pc-menu__link" href="/meloman/personal_cabinet/bind-card.html"><span>Привязать карту</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/bonus-card-operations.html"><span>Операции по бонусной карте</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/activate-promo-code.html"><span>Активировать промо-код</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/save-bonuses.html"><span>Как копить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="active pc-menu__link" href="/meloman/personal_cabinet/spend-bonuses.html"><span>Как тратить бонусы</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/contact-operator.html"><span>Связаться с оператором</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/shops.html"><span>Адреса магазинов</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a><a class="pc-menu__link" href="/meloman/personal_cabinet/favourite.html"><span>Избранное</span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg></a></div></div></div><div class="right-bar"><a class="back-button showSmall" href="/meloman/personal_cabinet"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./img/svg-default.svg#icon-arrow"></use></svg><span>Личный кабинет</span></a><div class="pc-page-title"><h1>Как тратить бонусы</h1></div><div class="text-container spend-bonuses"><p class="fs20">Счет в Вашу пользу!</p><img src="./img/spend-bonuses.png"><p>Получать бонусы очень просто: они автоматически будут попадать на Вас бонусный счет. Спросите себя – как часто Вам говорят «спасибо» за то, что Вы посетили магазин? Согласитесь, что такое бывает крайне редко. Но теперь это будет происходить всегда! И даже более того — теперь любая Ваша покупка будет вырастать в нечто большее…</p><p>Всё это благодаря специальной бонусной программе – для Вас и всей Вашей семьи, а также для Ваших знакомых и друзей! Мы уверены, что наши совместные усилия сделают Ваше участие в бонусной программе легким и приятным.</p><p>При этом все, что нужно от Вас — это просто оставаться с нами и совершать покупки в магазинах и интернет-магазинах MARWIN, Комфорт» и «Меломан». За каждую покупку при использовании карты Бонусного клуба Вы получаете бонусы, которыми в дальнейшем сможете оплатить новый заказ. А при накоплении определенного количества бонусов их можно обменять на постоянную скидку в интернет-магазине «Меломан».</p><p>Вы становитесь участником бонусной программы с самого Вашего заказа, оформленного через нащи интернет-магазины или после покупки и предъявлении на кассе катры Бонусного клуба.</p><p>Ищите бонусы – и бонусы найдут Вас! На странице с изображением и описанием товара вместе с его стоимостью Вы сможете узнать, сколько бонусов Вы получите после его покупки и получения Вашего заказа.</p><div class="steps-container"><div class="step"><span>1</span><span>Сделайте покупку</span></div><div class="step"><span>2</span><span>Предьявите  карту</span></div><div class="step"><span>3</span><span>Получите бонусы</span></div><div class="step"><span>4</span><span>Платите бонусами</span></div></div><p>В информации о любом товаре можно подробно узнать, какое количество бонусов предоставляется при его покупке. Также эта информация доступна при непосредственном оформлении заказа. Внимание! Предоставление бонусов происходит только после оплаты и получения Вами заказанных товаров и перехода заказа в статус «Выполнен». При аннулировании всего заказа или выборочного товара из заказа бонусы за него также будут аннулированы. При возврате товара, независимо от причины возврата, начисленные за него бонусы снимаются с вашего личного счета. Вы также можете получить дополнительные бонусы, участвуя в маркетинговых акциях и выполняя их условия в интернет-магазина «Меломан». Условия получения бонусов будут уточняться индивидуально в соответствующих правилах этих маркетинговых акций. «Меломан» оставляет за собой право корректировки начисления количества бонусов в рамках проведения маркетинговых акций.</p></div></div></main><script src="js/index.pc.bundle.js"></script></body></html>

src/pug/pages/other/personal_cabinet/spend-bonuses.pug
extends extend/page_template
block variables
    - const title = "Spend bonuses page"
    - const dataPageName = "static"
block spendBonuses
    a.active.pc-menu__link(href="/meloman/personal_cabinet/spend-bonuses.html")
        span Как тратить бонусы
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Как тратить бонусы
    .text-container.spend-bonuses
        p.fs20 Счет в Вашу пользу!
        img(src="./img/spend-bonuses.png")
        p Получать бонусы очень просто: они автоматически будут попадать на Вас бонусный счет. Спросите себя – как часто Вам говорят «спасибо» за то, что Вы посетили магазин? Согласитесь, что такое бывает крайне редко. Но теперь это будет происходить всегда! И даже более того — теперь любая Ваша покупка будет вырастать в нечто большее…
        p Всё это благодаря специальной бонусной программе – для Вас и всей Вашей семьи, а также для Ваших знакомых и друзей! Мы уверены, что наши совместные усилия сделают Ваше участие в бонусной программе легким и приятным.
        p При этом все, что нужно от Вас — это просто оставаться с нами и совершать покупки в магазинах и интернет-магазинах MARWIN, Комфорт» и «Меломан». За каждую покупку при использовании карты Бонусного клуба Вы получаете бонусы, которыми в дальнейшем сможете оплатить новый заказ. А при накоплении определенного количества бонусов их можно обменять на постоянную скидку в интернет-магазине «Меломан».
        p Вы становитесь участником бонусной программы с самого Вашего заказа, оформленного через нащи интернет-магазины или после покупки и предъявлении на кассе катры Бонусного клуба.
        p Ищите бонусы – и бонусы найдут Вас! На странице с изображением и описанием товара вместе с его стоимостью Вы сможете узнать, сколько бонусов Вы получите после его покупки и получения Вашего заказа.
        .steps-container
            .step
                span 1
                span Сделайте покупку
            .step
                span 2
                span Предьявите  карту
            .step
                span 3
                span Получите бонусы
            .step
                span 4
                span Платите бонусами
        p В информации о любом товаре можно подробно узнать, какое количество бонусов предоставляется при его покупке. Также эта информация доступна при непосредственном оформлении заказа. Внимание! Предоставление бонусов происходит только после оплаты и получения Вами заказанных товаров и перехода заказа в статус «Выполнен». При аннулировании всего заказа или выборочного товара из заказа бонусы за него также будут аннулированы. При возврате товара, независимо от причины возврата, начисленные за него бонусы снимаются с вашего личного счета. Вы также можете получить дополнительные бонусы, участвуя в маркетинговых акциях и выполняя их условия в интернет-магазина «Меломан». Условия получения бонусов будут уточняться индивидуально в соответствующих правилах этих маркетинговых акций. «Меломан» оставляет за собой право корректировки начисления количества бонусов в рамках проведения маркетинговых акций.
